<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>区块链学院 - 江西软件职业技术大学</title>
    <link rel="shortcut icon" href="website/img/favicon.ico">
    <link rel="stylesheet" href="website/css/bootstrap.css">
    <link rel="stylesheet" href="website/css/home-style.css">
    <link rel="stylesheet" href="website/css/fixed.css">
    <link rel="stylesheet" href="website/css/style.css">
    <link rel="stylesheet" href="website/css/appwork.css">
    <link rel="stylesheet" href="website/css/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="website/css/uikit.css">
    <link rel="stylesheet" href="website/css/portfolio.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
<iframe src="/top" frameborder="0" scrolling="no" class="iframe-top"></iframe>
<!---start --->
<div id="portfolio-thumbnails" class="row big-top">
    <!-- Add this element to properly relayout grid -->
<!--    <div class="portfolio-thumbnails-sizer col-sm-6 col-lg-4 position-absolute mb-4"></div>-->

    <div class="portfolio-thumbnails-item col-sm-6 col-lg-4 mb-4" data-tag="branding">
        <a href="#" class="portfolio-thumbnail img-thumbnail">
            <span class="img-thumbnail-overlay bg-dark opacity-75"></span>
            <span class="img-thumbnail-content d-flex flex-column justify-content-between text-white p-4">
              <span class="d-block">
                <span class="d-block text-tiny opacity-75">创业实训基地</span>
              </span>
              <span class="d-block text-tiny">
                学校前身是创办于2003年的江西先锋软件职业技术学院；2018年12月18日，学校升格为本科层次职业学校，成为全国本科层次职业教育高校；2019年5月27日，教育部批复更名为江西软件职业技术大学。
              </span>
            </span>
            <span class="portfolio-thumbnail-img ui-square ui-bg-cover"
                  style="background-image: url(website/img/clients/client2.png)"></span>
        </a>
    </div>
    <div class="portfolio-thumbnails-item col-sm-6 col-lg-4 mb-4" data-tag="branding">
        <a href="#" class="portfolio-thumbnail img-thumbnail">
            <span class="img-thumbnail-overlay bg-dark opacity-75"></span>
            <span class="img-thumbnail-content d-flex flex-column justify-content-between text-white p-4">
              <span class="d-block">
                <span class="d-block text-tiny opacity-75">BRANDING</span>
                <span class="text-large">Project caption</span>
              </span>
              <span class="d-block text-tiny">
                22 SEP 2017
              </span>
            </span>
            <span class="portfolio-thumbnail-img ui-square ui-bg-cover"
                  style="background-image: url(website/img/img/2.jpg)"></span>
        </a>
    </div>
    <div class="portfolio-thumbnails-item col-sm-6 col-lg-4 mb-4" data-tag="branding">
        <a href="#" class="portfolio-thumbnail img-thumbnail">
            <span class="img-thumbnail-overlay bg-dark opacity-75"></span>
            <span class="img-thumbnail-content d-flex flex-column justify-content-between text-white p-4">
              <span class="d-block">
                <span class="d-block text-tiny opacity-75">BRANDING</span>
                <span class="text-large">Project caption</span>
              </span>
              <span class="d-block text-tiny">
                22 SEP 2017
              </span>
            </span>
            <span class="portfolio-thumbnail-img ui-square ui-bg-cover"
                  style="background-image: url(website/img/img/3.jpg)"></span>
        </a>
    </div>
    <div class="portfolio-thumbnails-item col-sm-6 col-lg-4 mb-4" data-tag="branding">
        <a href="#" class="portfolio-thumbnail img-thumbnail">
            <span class="img-thumbnail-overlay bg-dark opacity-75"></span>
            <span class="img-thumbnail-content d-flex flex-column justify-content-between text-white p-4">
              <span class="d-block">
                <span class="d-block text-tiny opacity-75">BRANDING</span>
                <span class="text-large">Project caption</span>
              </span>
              <span class="d-block text-tiny">
                22 SEP 2017
              </span>
            </span>
            <span class="portfolio-thumbnail-img ui-square ui-bg-cover"
                  style="background-image: url(website/img/img/4.jpg)"></span>
        </a>
    </div>
    <div class="portfolio-thumbnails-item col-sm-6 col-lg-4 mb-4" data-tag="branding">
        <a href="#" class="portfolio-thumbnail img-thumbnail">
            <span class="img-thumbnail-overlay bg-dark opacity-75"></span>
            <span class="img-thumbnail-content d-flex flex-column justify-content-between text-white p-4">
              <span class="d-block">
                <span class="d-block text-tiny opacity-75">BRANDING</span>
                <span class="text-large">Project caption</span>
              </span>
              <span class="d-block text-tiny">
                22 SEP 2017
              </span>
            </span>
            <span class="portfolio-thumbnail-img ui-square ui-bg-cover"
                  style="background-image: url(website/img/img/5.jpg)"></span>
        </a>
    </div>
    <div class="portfolio-thumbnails-item col-sm-6 col-lg-4 mb-4" data-tag="branding">
        <a href="#" class="portfolio-thumbnail img-thumbnail">
            <span class="img-thumbnail-overlay bg-dark opacity-75"></span>
            <span class="img-thumbnail-content d-flex flex-column justify-content-between text-white p-4">
              <span class="d-block">
                <span class="d-block text-tiny opacity-75">BRANDING</span>
                <span class="text-large">Project caption</span>
              </span>
              <span class="d-block text-tiny">
                22 SEP 2017
              </span>
            </span>
            <span class="portfolio-thumbnail-img ui-square ui-bg-cover"
                  style="background-image: url(website/img/img/6.jpg)"></span>
        </a>
    </div>
</div>
<iframe src="/footer" width="100%" frameborder="0" scrolling="no" height="580px"></iframe>
<!--- Script Source Files -->
<script src="website/js/jquery.min.js"></script>
</body>
</html>