<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>区块链学院 - 江西软件职业技术大学</title>
    <link rel="shortcut icon" href="website/img/favicon.ico">
    <link rel="stylesheet" href="website/css/bootstrap.min.css">
    <link rel="stylesheet" href="website/css/home-style.css">
    <link rel="stylesheet" href="website/css/fixed.css">
    <link rel="stylesheet" href="website/css/style.css">
    <link rel="stylesheet" href="website/css/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="website/css/uikit.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
<!--- Start Home section -->
<div id="home">

    <!--- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="website/img/nuno.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">人才培养</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">课程体系</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">实训项目</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">新闻</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#clients">教学环境</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--- End Navigation -->

    <!--- Video Background -->
    <div class="video-background-10vh">
        <div class="video-wrap">
            <div id="video">
            </div>
            <!--- End Video ID -->
        </div>
        <!--- End Video Wrap -->
    </div>
    <!--- End Video Background -->
</div>
<!--- End Home Section -->
<!---start --->
<div class="container px-3">
    <div class="row justify-content-between">
        <div class="col-md-6 pl-lg-4 mb-4 mb-lg-5">

            <a href="#" class="ui-rect-50 d-block ui-rect ui-bg-cover"
               style="background-image: url('website/img/img/1.jpg');"></a>
            <div class="bg-white p-4">
                <div class="text-muted text-tiny mb-2">NOV 14, 2017</div>
                <h3 class="font-weight-bold">
                    <a href="#" class="text-dark">Traveling To Barcelona</a>
                </h3>
                <div class="text-muted small">
                    Curabitur pulvinar felis auctor lectus tincidunt iaculis. Vivamus aliquam elementum libero.
                </div>
                <button type="button" class="btn btn-outline-primary btn-sm rounded-0 font-weight-semibold mt-4">READ
                    ARTICLE
                </button>
            </div>

        </div>
        <div class="col-md-6 pl-lg-4 mb-4 mb-lg-5">

            <a href="#" class="ui-rect-50 d-block ui-rect ui-bg-cover"
               style="background-image: url('website/img/img/2.jpg');"></a>
            <div class="bg-white p-4">
                <div class="text-muted text-tiny mb-2">NOV 14, 2017</div>
                <h3 class="font-weight-bold">
                    <a href="#" class="text-dark">Traveling To Barcelona</a>
                </h3>
                <div class="text-muted small">
                    Curabitur pulvinar felis auctor lectus tincidunt iaculis. Vivamus aliquam elementum libero.
                </div>
                <button type="button" class="btn btn-outline-primary btn-sm rounded-0 font-weight-semibold mt-4">READ
                    ARTICLE
                </button>
            </div>

        </div>
        <div class="col-md-6 pl-lg-4 mb-4 mb-lg-5">

            <a href="#" class="ui-rect-50 d-block ui-rect ui-bg-cover"
               style="background-image: url('website/img/img/3.jpg');"></a>
            <div class="bg-white p-4">
                <div class="text-muted text-tiny mb-2">NOV 14, 2017</div>
                <h3 class="font-weight-bold">
                    <a href="#" class="text-dark">Traveling To Barcelona</a>
                </h3>
                <div class="text-muted small">
                    Curabitur pulvinar felis auctor lectus tincidunt iaculis. Vivamus aliquam elementum libero.
                </div>
                <button type="button" class="btn btn-outline-primary btn-sm rounded-0 font-weight-semibold mt-4">READ
                    ARTICLE
                </button>
            </div>

        </div>
        <div class="col-md-6 pl-lg-4 mb-4 mb-lg-5">

            <a href="#" class="ui-rect-50 d-block ui-rect ui-bg-cover"
               style="background-image: url('website/img/img/4.jpg');"></a>
            <div class="bg-white p-4">
                <div class="text-muted text-tiny mb-2">NOV 14, 2017</div>
                <h3 class="font-weight-bold">
                    <a href="#" class="text-dark">Traveling To Barcelona</a>
                </h3>
                <div class="text-muted small">
                    Curabitur pulvinar felis auctor lectus tincidunt iaculis. Vivamus aliquam elementum libero.
                </div>
                <button type="button" class="btn btn-outline-primary btn-sm rounded-0 font-weight-semibold mt-4">READ
                    ARTICLE
                </button>
            </div>

        </div>
        <div class="col-md-6 pl-lg-4 mb-4 mb-lg-5">

            <a href="#" class="ui-rect-50 d-block ui-rect ui-bg-cover"
               style="background-image: url('website/img/img/5.jpg');"></a>
            <div class="bg-white p-4">
                <div class="text-muted text-tiny mb-2">NOV 14, 2017</div>
                <h3 class="font-weight-bold">
                    <a href="#" class="text-dark">Traveling To Barcelona</a>
                </h3>
                <div class="text-muted small">
                    Curabitur pulvinar felis auctor lectus tincidunt iaculis. Vivamus aliquam elementum libero.
                </div>
                <button type="button" class="btn btn-outline-primary btn-sm rounded-0 font-weight-semibold mt-4">READ
                    ARTICLE
                </button>
            </div>

        </div>
        <div class="col-md-6 pl-lg-4 mb-4 mb-lg-5">

            <a href="#" class="ui-rect-50 d-block ui-rect ui-bg-cover"
               style="background-image: url('website/img/img/6.jpg');"></a>
            <div class="bg-white p-4">
                <div class="text-muted text-tiny mb-2">NOV 14, 2017</div>
                <h3 class="font-weight-bold">
                    <a href="#" class="text-dark">Traveling To Barcelona</a>
                </h3>
                <div class="text-muted small">
                    Curabitur pulvinar felis auctor lectus tincidunt iaculis. Vivamus aliquam elementum libero.
                </div>
                <button type="button" class="btn btn-outline-primary btn-sm rounded-0 font-weight-semibold mt-4">READ
                    ARTICLE
                </button>
            </div>

        </div>
    </div>
</div>
<!--- Start Contact Section -->
<div id="contact" class="offset">

    <footer>
        <div class="row">

            <div class="col-md-5">
                <img src="website/img/nuno.png" alt="">
                <p>江西软件职业技术大学（Jiangxi Vocational and Technical University of
                    Software，JVTUS），坐落于江西省南昌市。学校是江西省教育厅主管的实施高等职业教育的全日制民办本科高校、全国示范性软件职业技术学院之一、民办本科层次职业教育试点学校。</p>
                <strong>地址</strong>
                <p>江西省南昌市湾里区先锋创客小镇 <br>电话：0791-83792966 </p>


            </div>

            <div class="col-md-7">
                <h3>联系我们</h3>

                <form id="contact-form" method="post" action="contact.php">

                    <div class="messages"></div>
                    <div class="controls">

                        <div class="form-group">
                            <input id="form_name" type="text" name="name" class="form-control"
                                   placeholder="您的姓名." required="required">
                        </div>

                        <div class="form-group">
                            <input id="form_email" type="email" name="email" class="form-control"
                                   placeholder="你的联系方式." required="required">
                        </div>

                        <div class="form-group">
								<textarea id="form_message" name="message" class="form-control"
                                          placeholder="您的建议." rows="4" required="required"></textarea>
                        </div>

                        <input type="submit" class="btn btn-outline-light btn-sm" value="发送">

                    </div>

                </form>

            </div>

            <hr class="socket">
            &copy; 江西软件职业技术大学 区块链学院.

        </div>
        <!--- End of Row -->
    </footer>
    <!--- End of Footer -->

</div>
<!--- End Contact Section -->

<!--- Top Scroll -->
<a href="#home" class="top-scroll">
    <i class="fas fa-angle-up"></i>
</a>
<!--- End of Top Scroll -->

<!--- Script Source Files -->
<script src="website/js/jquery.min.js"></script>
<script src="website/js/custom.js"></script>
</body>
</html>