<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>区块链学院 - 江西软件职业技术大学</title>
    <link rel="shortcut icon" href="website/img/favicon.ico">
    <link rel="stylesheet" href="website/css/bootstrap.css">
    <link rel="stylesheet" href="website/css/home-style.css">
    <link rel="stylesheet" href="website/css/fixed.css">
    <link rel="stylesheet" href="website/css/style.css">
    <link rel="stylesheet" href="website/css/appwork.css">
    <link rel="stylesheet" href="website/css/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="website/css/uikit.css">

    <link rel="stylesheet" href="website/css/portfolio.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
<!--- Start Home section -->
<div id="home">

    <!--- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="website/img/nuno.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">人才培养</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">课程体系</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">实训项目</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">新闻</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#clients">教学环境</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--- End Navigation -->

    <!--- Video Background -->
    <div class="video-background-10vh">
        <div class="video-wrap">
            <div id="video">
            </div>
            <!--- End Video ID -->
        </div>
        <!--- End Video Wrap -->
    </div>
    <!--- End Video Background -->
</div>
<!--- End Home Section -->
<!--start-->

<div class="container">
    <div class="row mt-5">
        <!-- Article -->
        <div class="col">
            <!-- Article head -->
            <div class="text-center text-success small font-weight-bold text-uppercase mb-3">Lifestyle</div>
            <h2 class="text-center mb-3">How To Meet That Special Someone</h2>
            <div class="text-center text-muted text-tiny mb-4"><a href="#" class="text-muted">MAY GIBSON</a> &nbsp;\&nbsp; MAY 25, 2018</div>
            <hr class="blog-separator border-primary mx-auto mb-5">

            <!-- Article content -->
            <div class="blog-article-content font-secondary">
                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non consequat ipsum, vel consequat magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nisl nunc, dignissim quis leo nec, elementum luctus lectus. Curabitur pharetra lobortis turpis non ultricies. Sed lorem velit, vulputate sed eleifend quis, consectetur eget eros. Suspendisse mauris tellus, luctus eget sapien eget, ultricies venenatis augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </p>
                <p class="mb-4">
                    Vestibulum eget facilisis libero. Suspendisse et lacus vel enim sollicitudin iaculis porttitor sit amet dolor. Etiam quam arcu, congue eu mauris iaculis, auctor semper diam. Fusce sapien urna, pharetra in erat eu, ultricies scelerisque purus. Nulla eget leo ante. Sed tincidunt orci urna, at vehicula dui egestas sit amet. Praesent imperdiet cursus odio a egestas. Sed pellentesque diam et libero tincidunt elementum.
                </p>
                <p class="mb-4">
                    Sed sollicitudin nulla sit amet sollicitudin pulvinar. Duis a tortor eget magna efficitur feugiat ac in est. Aliquam ac mauris pretium, viverra odio non, semper mi. Pellentesque in volutpat turpis. Quisque tempor, nisl quis congue rhoncus, lacus purus suscipit purus, vitae sodales mauris arcu a sapien. Curabitur sem elit, vestibulum sit amet lorem sit amet, hendrerit ultrices urna. Donec laoreet erat diam, eget fringilla lacus varius a. Curabitur dapibus metus et est iaculis, id egestas velit placerat. Nunc fermentum pharetra ante, nec laoreet lorem commodo quis. Praesent dictum dolor sed felis molestie molestie.
                </p>
                <p class="my-5">
                    <img src="/website/img/26.jpg" alt class="img-fluid">
                </p>
                <p class="mb-4">
                    Cras viverra gravida massa, sit amet rutrum tellus scelerisque quis. Nunc nec pharetra metus. Fusce at dapibus nibh, nec maximus diam. Nulla scelerisque dui mi, eu suscipit urna accumsan id. Aliquam vitae justo lobortis, faucibus dolor nec, facilisis tellus. Phasellus porta felis quis risus aliquam dapibus. Duis faucibus dolor eget ex facilisis, vel finibus tortor suscipit. Duis lorem dui, viverra sit amet fermentum cursus, semper vel velit. Aenean lectus ex, tincidunt vitae vehicula sit amet, sollicitudin ac nunc. Aliquam magna eros, convallis non imperdiet eget, venenatis et augue. Vivamus ullamcorper ut dui nec elementum. Mauris pellentesque, nisi ac malesuada laoreet, nisi tellus vehicula lectus, nec sagittis nisl eros ac leo. Nullam rhoncus metus in est ultricies, eget tempus lacus vulputate. Integer consectetur accumsan auctor.
                </p>
                <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed gravida in tortor eget efficitur. Donec quis leo pretium, feugiat ex tincidunt, hendrerit dolor. Aliquam viverra vitae mauris id hendrerit. Nulla molestie arcu vel arcu sagittis, eu cursus ligula mattis. Sed luctus aliquam tincidunt. Aenean porta mauris sed arcu condimentum sollicitudin. Integer feugiat nunc enim, ut tristique ipsum semper sit amet. Integer a felis nec est efficitur tempus. Aenean ullamcorper suscipit pretium. Quisque blandit vestibulum arcu, et suscipit tellus condimentum sit amet. Suspendisse eros purus, varius sit amet sapien a, consectetur pharetra turpis. Vivamus ac consequat neque. Sed mi dolor, malesuada nec posuere vitae, varius vitae quam.
                </p>
            </div>
            <!-- / Article content -->
        </div>
    </div>
</div>
<!--end-->

<!--- Start Contact Section -->
<div id="contact" class="offset">

    <footer>
        <div class="row">

            <div class="col-md-5">
                <img src="website/img/nuno.png" alt="">
                <p>江西软件职业技术大学（Jiangxi Vocational and Technical University of
                    Software，JVTUS），坐落于江西省南昌市。学校是江西省教育厅主管的实施高等职业教育的全日制民办本科高校、全国示范性软件职业技术学院之一、民办本科层次职业教育试点学校。</p>
                <strong>地址</strong>
                <p>江西省南昌市湾里区先锋创客小镇 <br>电话：0791-83792966 </p>


            </div>

            <div class="col-md-7">
                <h3>联系我们</h3>

                <form id="contact-form" method="post" action="contact.php">

                    <div class="messages"></div>
                    <div class="controls">

                        <div class="form-group">
                            <input id="form_name" type="text" name="name" class="form-control"
                                   placeholder="您的姓名." required="required">
                        </div>

                        <div class="form-group">
                            <input id="form_email" type="email" name="email" class="form-control"
                                   placeholder="你的联系方式." required="required">
                        </div>

                        <div class="form-group">
								<textarea id="form_message" name="message" class="form-control"
                                          placeholder="您的建议." rows="4" required="required"></textarea>
                        </div>

                        <input type="submit" class="btn btn-outline-light btn-sm" value="发送">

                    </div>

                </form>

            </div>

            <hr class="socket">
            &copy; 江西软件职业技术大学 区块链学院.

        </div>
        <!--- End of Row -->
    </footer>
    <!--- End of Footer -->

</div>
<!--- End Contact Section -->

<!--- Top Scroll -->
<a href="#home" class="top-scroll">
    <i class="fas fa-angle-up"></i>
</a>
<!--- End of Top Scroll -->

<!--- Script Source Files -->
<script src="website/js/jquery.min.js"></script>
</body>
</html>