<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>课程详情 - 区块链学院 - 江西软件职业技术大学</title>
    <link rel="shortcut icon" href="/website/img/favicon.ico">
    <link rel="stylesheet" href="/website/css/bootstrap.css">
    <link rel="stylesheet" href="/website/css/home-style.css">
    <link rel="stylesheet" href="/website/css/fixed.css">
    <link rel="stylesheet" href="/website/css/style.css">
    <link rel="stylesheet" href="/website/css/appwork.css">
    <link rel="stylesheet" href="/website/css/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="/website/css/uikit.css">
    <link rel="stylesheet" href="/website/css/portfolio.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
<iframe src="/top" frameborder="0" scrolling="no" class="iframe-top"></iframe>
<!--start-->
<div class="container">
    <div class="row mt-5">
        <!-- Article -->
        <div class="col">
            <!-- Article head -->
            <div class="text-center text-success small font-weight-bold text-uppercase mb-3">课程体系</div>
            <h2 class="text-center mb-3" th:text="${info.title}"></h2>
            <div class="text-center text-muted text-tiny mb-4" th:text="${info.createTime}"></div>
            <hr class="blog-separator border-primary mx-auto mb-5">

            <!-- Article content -->
            <div class="blog-article-content font-secondary">
                <p class="mb-4" th:each="detail:${info.getDetailList()}">
                    <span th:text="${detail}"></span>
                </p>
                <p class="my-5" th:if="${info.curVideo != null && info.curVideo != ''}">
                    <video width="100%" controls>
                        <source th:src="${info.curVideo}">
                    </video>
                </p>

                <p class="mb-4" th:each="img:${info.getImgList()}">
                    <img th:src="${img}" alt class="img-fluid">
                </p>
            </div>
            <!-- / Article content -->
        </div>

        <!-- Side content -->
        <div class="col-lg-4 pl-xl-5">

            <div class="bg-lighter p-4 mb-4">
                <h6 class="small font-weight-bold mb-2">课程体系</h6>
                <hr class="blog-separator border-primary">
                <p class="text-muted">
                    请输入您的电子邮件地址以获取此课程，并通过电子邮件接收课程的通知。
                </p>
                <div class="form-group">
                    <input type="text" class="form-control rounded-0" placeholder="Enter your email address">
                </div>
                <button type="button" class="btn btn-primary btn-block rounded-0">Subscribe</button>
            </div>

            <div class="ui-bordered p-4 mb-4">
                <h6 class="small font-weight-bold mb-2">课程列表</h6>
                <hr class="blog-separator border-primary">
                <div class="media mb-3">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Comment On The Importance Of Human Life</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">KENNETH FRAZIER</a> &nbsp;\&nbsp; MAY 21, 2018</div>
                    </div>
                </div>
                <div class="media mb-3">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Les Houches The Hidden Gem Of The Chamonix Valley</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">ALICE HAMPTON</a> &nbsp;\&nbsp; MAY 5, 2018</div>
                    </div>
                </div>
                <div class="media mb-3">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Cheap Romantic Vacations</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">ARTHUR DUNCAN</a> &nbsp;\&nbsp; APRIL 19, 2018</div>
                    </div>
                </div>
                <div class="media mb-3">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Big Savings On Gas While You Travel</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">BELLE ROSS</a> &nbsp;\&nbsp; APRIL 9, 2018</div>
                    </div>
                </div>
                <div class="media">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Get Around Easily With A New York Limousine Service</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">MAY GIBSON</a> &nbsp;\&nbsp; MARCH 28, 2018</div>
                    </div>
                </div>
            </div>


        </div>
        <!-- / Side content -->


    </div>
</div>
<!--end-->
<iframe src="/footer" width="100%" frameborder="0" scrolling="no" height="580px"></iframe>
<!--- Script Source Files -->
<script src="/website/js/jquery.min.js"></script>
</body>
</html>