<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>课程详情 - 区块链学院 - 江西软件职业技术大学</title>
    <link rel="shortcut icon" href="website/img/favicon.ico">
    <link rel="stylesheet" href="website/css/bootstrap.css">
    <link rel="stylesheet" href="website/css/home-style.css">
    <link rel="stylesheet" href="website/css/fixed.css">
    <link rel="stylesheet" href="website/css/style.css">
    <link rel="stylesheet" href="website/css/appwork.css">
    <link rel="stylesheet" href="website/css/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="website/css/uikit.css">
    <link rel="stylesheet" href="website/css/portfolio.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
<iframe src="/top" frameborder="0" scrolling="no" class="iframe-top"></iframe>
<!--start-->
<div class="container">
    <div class="row mt-5">
        <!-- Article -->
        <div class="col">
            <!-- Article head -->
            <div class="text-center text-success small font-weight-bold text-uppercase mb-3">课程体系</div>
            <h2 class="text-center mb-3">Udemy - Web Developer Course</h2>
            <div class="text-center text-muted text-tiny mb-4"><a href="#" class="text-muted">美国</a> &nbsp;\&nbsp; MAY 25, 2018</div>
            <hr class="blog-separator border-primary mx-auto mb-5">

            <!-- Article content -->
            <div class="blog-article-content font-secondary">
                <p class="mb-4">
                    早期的web应用主要是静态页面的浏览，这些静态页面使用HTML语言编写，放在服务器上，用户使用浏览器通过HTTP协议请求服务器上的web页面，服务器上的web服务器软件接受到用户发送的请求后，读取请求URI所标识的资源，加上消息包头发送给客户端的浏览器，浏览器解析响应中的HTML数据，向用户呈现多姿多彩的HTML页面。
                </p>
                <p class="mb-4">
                    但是随着网络的发展，很多线下业务开始向网上发展，基于Internet的web应用也变得越来越复杂用户所访问的资源已不仅仅局限于服务器硬盘上存放的静态网页，更多的应用需要根据用户的请求动态生成网页信息，复杂的还需要从数据库中提取信息，经过一定的运算，生成一个页面返回给客户
                </p>
                <p class="mb-4">
                    早起使用的web服务器扩展机制是CGI，它允许用户调用web服务器上的CGI程序，CGI全称 Common Gateway Interface 公共网关接口，大多数的CGI程序使用Perl来编写，也有通过C,Python或PHP编写，用户通过单击某个连接或者直接在浏览器的地址栏输入URL来访问CGI程序，web服务器接受到请求后，发现这个请求是给CGI程序的，于是就启动并运行这个CGI程序，对用于请求进行处理。CGI程序解析请求中的CGI数据，处理数据，并且产生一个响应，这个响应被返回给web服务器，web服务器包装这个响应，以HTTP响应的形式发送给Web浏览器。但是CGI编写困难，对用户请求的响应时间较长以进程方式运行导致性能受限制
                </p>
                <p class="my-5">
<!--                    <img src="/website/img/26.jpg" alt class="img-fluid">-->
<!--                    <video src="/website/video/c01.mp4" controls></video>-->
                    <video width="100%" controls>
                        <source src="/website/video/c01.mp4">
                    </video>
                </p>
                <p class="mb-4">
                    早起使用的web服务器扩展机制是CGI，它允许用户调用web服务器上的CGI程序，CGI全称 Common Gateway Interface 公共网关接口，大多数的CGI程序使用Perl来编写，也有通过C,Python或PHP编写，用户通过单击某个连接或者直接在浏览器的地址栏输入URL来访问CGI程序，web服务器接受到请求后，发现这个请求是给CGI程序的，于是就启动并运行这个CGI程序，对用于请求进行处理。CGI程序解析请求中的CGI数据，处理数据，并且产生一个响应，这个响应被返回给web服务器，web服务器包装这个响应，以HTTP响应的形式发送给Web浏览器。但是CGI编写困难，对用户请求的响应时间较长以进程方式运行导致性能受限制
                </p>
                <p>
                    早起使用的web服务器扩展机制是CGI，它允许用户调用web服务器上的CGI程序，CGI全称 Common Gateway Interface 公共网关接口，大多数的CGI程序使用Perl来编写，也有通过C,Python或PHP编写，用户通过单击某个连接或者直接在浏览器的地址栏输入URL来访问CGI程序，web服务器接受到请求后，发现这个请求是给CGI程序的，于是就启动并运行这个CGI程序，对用于请求进行处理。CGI程序解析请求中的CGI数据，处理数据，并且产生一个响应，这个响应被返回给web服务器，web服务器包装这个响应，以HTTP响应的形式发送给Web浏览器。但是CGI编写困难，对用户请求的响应时间较长以进程方式运行导致性能受限制
                </p>
            </div>
            <!-- / Article content -->
        </div>

        <!-- Side content -->
        <div class="col-lg-4 pl-xl-5">

            <div class="bg-lighter p-4 mb-4">
                <h6 class="small font-weight-bold mb-2">课程体系</h6>
                <hr class="blog-separator border-primary">
                <p class="text-muted">
                    请输入您的电子邮件地址以获取此课程，并通过电子邮件接收课程的通知。
                </p>
                <div class="form-group">
                    <input type="text" class="form-control rounded-0" placeholder="Enter your email address">
                </div>
                <button type="button" class="btn btn-primary btn-block rounded-0">Subscribe</button>
            </div>

            <div class="ui-bordered p-4 mb-4">
                <h6 class="small font-weight-bold mb-2">课程列表</h6>
                <hr class="blog-separator border-primary">
                <div class="media mb-3">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Comment On The Importance Of Human Life</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">KENNETH FRAZIER</a> &nbsp;\&nbsp; MAY 21, 2018</div>
                    </div>
                </div>
                <div class="media mb-3">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Les Houches The Hidden Gem Of The Chamonix Valley</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">ALICE HAMPTON</a> &nbsp;\&nbsp; MAY 5, 2018</div>
                    </div>
                </div>
                <div class="media mb-3">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Cheap Romantic Vacations</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">ARTHUR DUNCAN</a> &nbsp;\&nbsp; APRIL 19, 2018</div>
                    </div>
                </div>
                <div class="media mb-3">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Big Savings On Gas While You Travel</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">BELLE ROSS</a> &nbsp;\&nbsp; APRIL 9, 2018</div>
                    </div>
                </div>
                <div class="media">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark">Get Around Easily With A New York Limousine Service</a>
                        </div>
                        <div class="text-light text-tiny"><a href="#" class="text-light">MAY GIBSON</a> &nbsp;\&nbsp; MARCH 28, 2018</div>
                    </div>
                </div>
            </div>


        </div>
        <!-- / Side content -->


    </div>
</div>
<!--end-->
<iframe src="/footer" width="100%" frameborder="0" scrolling="no" height="580px"></iframe>
<!--- Script Source Files -->
<script src="website/js/jquery.min.js"></script>
</body>
</html>