<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>项目详情 - 区块链学院 - 江西软件职业技术大学</title>
    <link rel="shortcut icon" href="/website/img/favicon.ico">
    <link rel="stylesheet" href="/website/css/bootstrap.css">
    <link rel="stylesheet" href="/website/css/home-style.css">
    <link rel="stylesheet" href="/website/css/fixed.css">
    <link rel="stylesheet" href="/website/css/style.css">
    <link rel="stylesheet" href="/website/css/appwork.css">
    <link rel="stylesheet" href="/website/css/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="/website/css/uikit.css">
    <link rel="stylesheet" href="/website/css/portfolio.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
<iframe src="/top" frameborder="0" scrolling="no" class="iframe-top"></iframe>
<!--start-->
<div class="container">
    <div class="row mt-5">
        <!-- Article -->
        <div class="col">
            <!-- Article head -->
            <div class="text-center text-success small font-weight-bold text-uppercase mb-3">实训项目</div>
            <h2 class="text-center mb-3" th:text="${info.title}"></h2>
            <div class="text-center text-muted text-tiny mb-4">
                <span th:text="${info.technology}"></span>&nbsp;/&nbsp;<span th:text="${info.createTime}"></span>
            </div>
            <hr class="blog-separator border-primary mx-auto mb-5">

            <!-- Article content -->
            <div class="blog-article-content font-secondary">
                <p class="mb-4" th:each="detail:${info.detailList}">
                    <span th:text="${detail}"></span>
                </p>
                <p class="my-5" th:each="img:${info.imgList}">
                    <img th:src="${img}" alt class="img-fluid">
                </p>
            </div>
            <!-- / Article content -->
        </div>

        <!-- Side content -->
        <div class="col-lg-4 pl-xl-5">
            <div class="ui-bordered p-4 mb-4">
                <h6 class="small font-weight-bold mb-2">项目列表</h6>
                <hr class="blog-separator border-primary">
                <div class="media mb-3" th:each="project:${list}">
                    <div class="ui-w-40">
                        <div class="ui-square ui-bg-cover" th:style="'background-image: url('+${project.proImg}+');'" style="background-image: url('/website/img/img/1.jpg');"></div>
                    </div>
                    <div class="media-body ml-3">
                        <div class="mb-1">
                            <a href="#" class="link-animated text-dark" th:text="${project.title}"></a>
                        </div>
                        <div class="text-light text-tiny"><span th:text="${project.technology}"></span> &nbsp;\&nbsp; <span th:text="${project.createTime}"></span></div>
                    </div>
                </div>
            </div>


        </div>
        <!-- / Side content -->


    </div>
</div>
<!--end-->
<iframe src="/footer" width="100%" frameborder="0" scrolling="no" height="580px"></iframe>
<!--- Script Source Files -->
<script src="/website/js/jquery.min.js"></script>
</body>
</html>